.products {
  padding: 40px 0;
  .header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 24px;
    }
  }

  .box {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    .item {
      width: 23%;
    }
  }
  @media (max-width: 912px) {
    .box {
      .item {
        width: 31%;
      }
    }
  }
  @media (max-width: 767px) {
    .box {
      .item {
        width: 47%;
      }
    }
  }
  @media (max-width: 320px) {
    .box {
      .item {
        width: 100%;
      }
    }
  }
}
