.header {
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 11px 0 10px;
  box-shadow: inset 0 -1px 0 0 #eaeaea;
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.9);
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    max-width: 80px;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    li {
      a {
        border-bottom: 2px solid transparent;
        transition: all 0.2s linear;
        padding: 5px 0;
        cursor: pointer;
        &:hover {
          border-color: #111111;
        }
      }
    }
    .active {
      a {
        border-color: #111111;
      }
    }
  }
  .search {
    max-width: 160px;
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 5px 10px;
    border-radius: 20px;
    input {
      width: 100%;
      border: none;
      background: none;
      font-size: 14px;
    }
    button {
      border: none;
      background: none;
      width: 35px;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
