.slider-client {
  .swiper {
    &-slide {
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &-pagination {
      span {
        background: #898989;
      }
    }
    &-button-prev {
      &::after {
        color: #333333;
      }
    }
    &-button-next {
      &::after {
        color: #333333;
      }
    }
  }
}
